<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form  th:action="@{/change}" th:object="${user}" method="post">
                
                
                
                <div>
                    <label> old Password</label>
                    <div> 
                        <input type="text" th:field="*{password1}"/>
                    </div>    
                </div>
                <div>
                    <label> Password</label>
                    <div> 
                        <input type="password" th:field="*{password}" id="password2"/>
                    </div>    
                </div>
                
                    
                    <div> 
                        <button type="submit">Submit</button>
                    </div>    
                </div>
                
            </form>
        </div>
    </body>
</html>
