 <!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="width:600px;margin-left:auto;margin-right:auto;margin-top:10rem;padding:24px;background-color:lightgrey;
                 border-radius:1rem">
                <div card="card-block">
                    <form action="#" th:action="@{/save}" form-method ="post" th:object="${user}">
                       
                         <h2 style="margin-bottom: 2rem;text-align:center">update Your Profile</h2>
                        <div class="form-group">
                            <label th:field="*{id}">ID</label>
                            
                            <label for="username">
                                Username
                            </label >
                            <input type="text" class="form-control" th:field="*{username}"
                                   placeholder="username"/>

                        </div>
                         
                         <div class="form-group">
                            <label for="Lastname">
                                First Name
                            </label >
                            <input type="text" class="form-control" th:field="*{lastname}"
                                   placeholder="Last Name"/>

                        </div>
                         
                        <div class="form-group">
                            <label for="contact">
                                contact
                            </label >
                            <input type="tel" class="form-control" th:field="*{contact}"
                                   placeholder="contact "/>

                        </div>
                         <div class="form-action">

                             <button type="submit" class="btn btn-success">Submit</button>

                        </div>
        <!--                 forgot password
                         <div style="text-align:center" class="login">
                             <div class="login-text">
                                 Don't have Account ?
                             </div>
                             <a href="/register">Sign up</a>
                         </div>-->



                    </form>
                    </div>
            
            
        </div>
    </body>
</html>
